.carrusel {
    margin-top: -25px;
    margin-bottom: -25px;
}
.foot {
    margin-top: -5%;
}
.nav-bk3 {
    background: #9c3cf7;
    background: -webkit-linear-gradient(to right, #7232eb, #0a1baf);
    background: linear-gradient(to right, #9c3cf7, #0a1baf);
}

.fondo {
    background: #9c3cf7;
    background: -webkit-linear-gradient(to right, #9d75e7c4, #c24eb8);
    background: linear-gradient(to right, #9d75e7c4, #c24eb8);
    margin-top: -2%;
    padding-bottom: 15%;
}

.carousel-caption {
    position: absolute;
    top: 22%;
    right: 20%;
    bottom: 50%;
    left: 20%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    background: rgb(47, 47, 51);
    background: linear-gradient(
        90deg,
        rgba(58, 57, 64, 0.5) 100%,
        rgba(250, 250, 255, 0.5) 0%,
        rgba(58, 57, 64, 0.3) 0%
    );
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.linkhover {
    color: white;
}

.imagen {
    height: 50px;
    width: 60px;
}
